{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <h1>User list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prename</th>
                <th>Name</th>
                <th>Country</th>
                <th>Email</th>
                <th>Curriculum Vitae</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.prename }}</td>
                <td>{{ person.name }}</td>
                {% if (person.country) %}
                    <td>{{ person.country.name }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ person.email }}</td>
                {% if (person.curriculumVitae) %}
                <td><a href="{{ asset('uploads/curriculumVitae/' ~ person.curriculumVitae) }}" target="_blank"><img
                                src="{{ asset('media/icons/cv.png') }}"/></a></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ person.roles ? person.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('person_show', {'id': person.id}) }}" class="btn btn-primary show-person" data-id="{{ person.id }}">show</a>
                    <a href="{{ path('person_edit', {'id': person.id}) }}" class="btn btn-success edit-person" data-id="{{ person.id }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
